<li class="nav-item">
    <a class="nav-link" href="/plugins/flash" id="flash-nav-link">
        <span class="nav-icon">
            <i class="fas fa-bolt" style="color: #FFD700;"></i>
        </span>
        <span class="nav-text">Flash Lightning</span>
    </a>
</li>