@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using BTCPayServer.Models.StoreViewModels
@using BTCPayServer.Plugins.Flash
@inject FlashPlugin FlashPlugin

@{
    var dashboardModel = Model as StoreDashboardViewModel;
    if (dashboardModel == null)
        return;
    
    var storeId = dashboardModel.StoreId;
}

<div class="widget-body p-3" style="border-top: 6px solid #FFD700;">
    <div class="d-flex align-items-center mb-2">
        <img src="~/img/icons/flash.svg" width="28" height="28" class="me-2" alt="Flash Logo" onerror="this.src='data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' width=\'28\' height=\'28\'><path d=\'M11 21h-1l1-7H7.5c-.58 0-.912-.753-.588-1.266L12.562 3h1l-1 7h3.5c.555 0 .869.73.55 1.221L11 21Z\' fill=\'%23FFD700\'/></svg>'" />
        <h5 class="mb-0">Flash</h5>
    </div>
    
    <p class="text-muted mb-2">Version: @FlashPlugin.Version</p>
    
    <div class="mt-3">
        <a class="btn btn-primary btn-sm" 
           asp-controller="FlashMain" 
           asp-action="Dashboard" 
           asp-route-storeId="@storeId">
            <i class="fa fa-bolt"></i> Flash Dashboard
        </a>
        
        <a class="btn btn-outline-primary btn-sm" 
           asp-controller="BoltcardTopup" 
           asp-action="Topup" 
           asp-route-storeId="@storeId">
            <i class="fa fa-credit-card"></i> Boltcard Topup
        </a>
    </div>
</div>