@using Microsoft.AspNetCore.Mvc.TagHelpers
<a asp-controller="UIFlashCard" asp-action="Index" class="nav-link">
    <span class="nav-link-icon">
        <i class="fa fa-credit-card"></i>
    </span>
    <span class="nav-link-title">
        Flash Cards
    </span>
</a>

<a asp-controller="UIFlashConnectionTest" asp-action="Index" class="nav-link">
    <span class="nav-link-icon">
        <i class="fa fa-bolt"></i>
    </span>
    <span class="nav-link-title">
        Connection Test
    </span>
</a>

<a asp-controller="UIFlashCard" asp-action="Documentation" class="nav-link">
    <span class="nav-link-icon">
        <i class="fa fa-book"></i>
    </span>
    <span class="nav-link-title">
        Flash Docs
    </span>
</a>